<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:task="http://www.springframework.org/schema/task"
    xmlns:amq="http://activemq.apache.org/schema/core" xmlns:jms="http://www.springframework.org/schema/jms"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms.xsd
       http://activemq.apache.org/schema/core
        http://activemq.apache.org/schema/core/activemq-core-5.8.0.xsd ">
    <!-- 指定Spring框架扫描的包 -->
    <context:component-scan base-package="com.itheima.activeMQ" />
    <!--
       ################################# 指定ActiveMQ 连接工厂 ########################################
       真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供
    -->
    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
       <constructor-arg index="0" value="admin"></constructor-arg>
       <constructor-arg index="1" value="admin"></constructor-arg>
       <constructor-arg index="2" value="tcp://localhost:61616"></constructor-arg>
    </bean>
    <!--
       ################################# 指定Spring Caching连接工厂 #################################
    -->
    <bean id="connectionFactory"
       class="org.springframework.jms.connection.CachingConnectionFactory">
       <!-- 目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory -->
       <property name="targetConnectionFactory" ref="amqConnectionFactory"></property>
       <!-- Session缓存数量 -->
       <property name="sessionCacheSize" value="100" />
    </bean>
    <!--
       ################################# 指定消息的生产者 #################################
    -->
    <bean id="jmsQueueTemplate" class="org.springframework.jms.core.JmsTemplate">
       <!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->
       <constructor-arg ref="connectionFactory" />
       <!-- 定义JmsTemplate的Queue类型 -->
       <!--true : 发布/订阅模式 -->
       <!--false : 队列模式 -->
       <property name="pubSubDomain" value="false" />
    </bean>
    	<!--
		################################# 指定消息的消费者 #################################
		destination-type : 队列的类型.queue : 队列. topic : 主题,或者发布/订阅
		container-type : 容器的类型.不同的容器类型管理session会有不同的策略
		connection-factory : 指定连接工厂
		acknowledge: 指定应答策略
	-->
    
    <jms:listener-container destination-type="queue"
       container-type="default" connection-factory="connectionFactory"
       acknowledge="auto">
       <jms:listener destination="sms_queue" ref="consumer" />
    </jms:listener-container>
</beans>
